/* FILEPATH: /D:/stainlu/stainlu.github.io/styles.css */

/* Reset default styles */
body, h1, p {
  margin: 0;
  padding: 0;
  background: #1574ff
}

/* Add your custom styles below */
body {
    font
}